body { background: #255040; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 17px; display: flex; }
.block-uploader-0 { color: #cd8366; font-size: 17px; margin-bottom: 5px; }
.block-logger-1 { color: #2fc109; font-size: 13px; margin-bottom: 5px; }
.block-auth-2 { color: #b92ce4; font-size: 12px; margin-bottom: 5px; }
.block-validator-3 { color: #8a8790; font-size: 13px; margin-bottom: 5px; }
.block-logger-4 { color: #29db8a; font-size: 21px; margin-bottom: 5px; }
.block-cluster-5 { color: #49b3c4; font-size: 21px; margin-bottom: 5px; }
.block-order-6 { color: #a9e57c; font-size: 12px; margin-bottom: 5px; }
.block-email-7 { color: #625315; font-size: 15px; margin-bottom: 5px; }
.block-metrics-8 { color: #dba5fd; font-size: 19px; margin-bottom: 5px; }
.block-shipping-9 { color: #58b7b5; font-size: 18px; margin-bottom: 5px; }